torch==2.6.0
numpy==1.26.4
kornia==0.7.4
pillow==11.0.0
opencv-python
torchvision>=0.3
torchgeometry>=0.1.2
matplotlib
einops
tqdm
pyyaml
imgaug
scipy
balf @ git+https://github.com/ericzzj1989/BALF.git